@font-face {
  font-family: "Lato normal";
  src: local("Lato normal"), local("Lato-normal"), url("../assets/Lato/Lato-Regular.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Lato lighter";
  src: local("Lato lighter"), local("Lato-lighter"), url("../assets/Lato/Lato-Light.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
  font-weight: lighter;
}
@font-face {
  font-family: "Lato bolder";
  src: local("Lato bolder"), local("Lato-bolder"), url("../assets/Lato/Lato-Black.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
  font-weight: bolder;
}
@font-face {
  font-family: "Merriweather";
  src: local(Merriweather), url("../assets/Merriweather/Merriweather-Regular.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
  font-weight: normal;
}

@import "variables";

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: lato;
  background: $offblack;
  color: $offwhite;
}

.title {
  font-weight: bolder;
}
