@import "variables";

.preview-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        background: $offwhite;
        width: calcvw(440);
        height: calcvw(590);
        cursor: pointer;
    }

    .outline {
        outline: 7px solid red;
        height: 100%;
        width: 100%;
        outline-offset: 7px;
    }
}
