@import "variables";

.preview-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        flex-shrink: 0;
    }

    .inner {
        //background: $offwhite;
        width: calcvw(440);
        height: calcvw(590);
        cursor: pointer;
        background: $offblack;
    }

    .outline {
        outline: calcvw(7) solid red;
        height: 100%;
        width: 100%;
        outline-offset: calcvw(7);
        position: relative;
    }
}
.content {
    position: relative;
    //color: black;
    transform: translateY(0);
    // width: $previewWidth;
    // height: $previewHeight;
    height: 100%;
    width: 100%;
    font-size: calcvw(18);

    .image {
        height: 81.3559322034%;
    }
    .text {
        height: $previewHeight - calcvw(480);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        > * {
            width: 100%;
            max-width: calcvw(1600);
        }
    }
    .header {
        font-size: calcvw(28);
        display: flex;
        justify-content: space-between;
    }
    .title {
        text-transform: uppercase;
    }
    .year {
        color: #7b7b7b;
    }
    .desc {
        font-family: Merriweather;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: " - cont.";
    }
}
