@import "variables";

.product-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 3;
    background: $offblack;

    .util-btns {
        position: fixed;
        z-index: 1;
        .close-product {
            position: absolute;
            z-index: 1;
            top: calcvw(80);
            left: calcvw(80);
            cursor: pointer;
        }
    }
}

.product-showcase {
    padding: 0 calcvw(160);
}
